@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
 
 
  @font-face {
    font-family: 'Averta';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Averta-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Averta Light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/AvertaRegular.otf) format('opentype');
  }
  @font-face {
    font-family: 'Alexa';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Alexastyle.otf) format('opentype');
  }
  @font-face {
    font-family: 'Montserrat Black';
    font-display: swap;
    src: url(/fonts/Montserrat-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat SemiBold';
    font-display: swap;
    src: url(/fonts/Montserrat-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat Medium';
    font-display: swap;
    src: url(/fonts/Montserrat-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat Bold';
    font-display: swap;
    src: url(/fonts/Montserrat-Bold.ttf) format('truetype');
  }

  
  
}

.txt-grad{
background: #94C6AF;
background: linear-gradient(to right, #94C6AF 0%, #EDD693 50%, #DFB79D 51%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


/* .gradient-border {
  border: 3px solid; /* Sets the border width and style */


  .gradient-border{
    /* /*border-image: linear-gradient(90deg, rgba(148,198,175,1) 0%, rgba(237,214,147,1) 35%, rgba(223,183,157,1) 100%)1; */
    border: 3px solid transparent;
    background: linear-gradient(45deg,#80293C,rgba(148,198,175,1),rgba(237,214,147,1) 100%,#fff,rgba(223,183,157,1),#80293C) border-box;
    -webkit-mask:
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }



  .btn {
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    background: linear-gradient(to right, #80293C,rgba(148,198,175,1),rgba(237,214,147,1) 100%,#fff,rgba(223,183,157,1),#80293C);
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  .btn::before {
    content: "";
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    z-index: -1;
    transition: 200ms  ;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  .btn::after {
    content: attr(data);
    /*background: linear-gradient(to left, #00FFA3, #DC1FFF);
    */-webkit-background-clip: text;
    color: white;
    transition: 200ms  ;
    -webkit-transition: 200ms  ;
    -moz-transition: 200ms  ;
    -ms-transition: 200ms  ;
    -o-transition: 200ms  ;
}
  .btn:hover::before {
    opacity: 100%;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    
  }
  .btn:hover::after{
    color: white !important;
    
  }


  .myborder {
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    background: linear-gradient(to right, #80293C,rgba(148,198,175,1),rgba(237,214,147,1) 100%,#fff,rgba(223,183,157,1),#80293C);
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  .myborder::before {
    content: "";
    position: absolute;
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    z-index: -1;
    transition: 200ms  ;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  .myborder::after {
    content: attr(data);
    /*background: linear-gradient(to left, #00FFA3, #DC1FFF);
    */-webkit-background-clip: text;
    color: white;
    transition: 200ms  ;
    -webkit-transition: 200ms  ;
    -moz-transition: 200ms  ;
    -ms-transition: 200ms  ;
    -o-transition: 200ms  ;
}
  .myborder:hover::before {
    opacity: 100%;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    
  }
  .btn:hover::after{
    color: white !important;
    
  }

  .top-border {
    border-top: 4px solid transparent;
    border-image: linear-gradient(90deg,  #1fddff, #2C7744, #F0CB35, #fc00ff) 1;
  }

  .txt-gradient{
    background: #E7A067;
    background: linear-gradient(to right, #E7A067 41%, #D7646B 49%, #FEC872 77%, #220B37 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .txt-gradient-1{
    background: #E7A067;
background: linear-gradient(to top right, #E7A067 15%, #D7646B 0%, #FEC872 30%, #220B37 70%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.intrested{
  background: rgb(218,146,168);
background: linear-gradient(90deg, rgba(218,146,168,1) 0%, rgba(253,201,114,1) 16%, rgba(34,11,55,1) 84%);
}

.mybg {
  background: rgb(35,62,146);
  background: linear-gradient(90deg, rgba(35,62,146,1) 0%, rgba(242,190,49,1) 26%, rgba(229,32,92,1) 78%);
}

.bgspeakers{

  background: rgb(12,12,49);
background: linear-gradient(90deg, rgba(12,12,49,1) 0%, rgba(29,0,127,1) 48%, rgba(12,12,49,1) 100%);
}
.error{
  color:#dc2626;
}
.slick-arrow {
  display:none !important;
}


.modal {
  transition: opacity 0.3s, transform 0.3s;
}

.modal-container {
  transform: scale(0.8);
}

.modal.flex {
  opacity: 1;
  transform: scale(1);
}

.modal.hidden {
  opacity: 0;
  transform: scale(0.8);
}

.mycenter{
  text-align:-webkit-center;
}

.mybgtrans{
  background: rgb(12,12,49) !important;
  background: linear-gradient(180deg, rgba(12,12,49,0) 0%,rgba(12,12,49,1) 25%,rgba(12,12,49,1) 50%, rgba(12,12,49,1) 100%) !important;


}


@media only screen and (max-width: 600px) {
  .mymobilrbgtrans{
    background: rgb(12,12,49);
    /* background: linear-gradient(180deg, rgba(12,12,49,0) 0%,rgba(12,12,49,1) 25%,rgba(12,12,49,1) 50%, rgba(12,12,49,1) 100%); */
  }
}

@media only screen and (max-width: 390px) {
.pt-96 {
  padding-top: 48rem;
}
.-mt-64 {
  margin-top: -47rem;
}
}

@media only screen and (max-width: 430px) {
  .pt-96 {
    padding-top: 48rem;
  }
  .-mt-64 {
    margin-top: -47rem;
  }
  }
